.value {
  box-shadow: 5px 5px #222222;
}

.locked-value {
  background-color: #191a1b !important;
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
